# Node.js (Next.js)
next-frontend/node_modules/
next-frontend/.next/
next-frontend/out/
next-frontend/.env.local
next-frontend/.env.development.local
next-frontend/.env.production.local
next-frontend/package-lock.json
next-frontend/yarn.lock
next-frontend/npm-debug.log*

# Java / Spring Boot
spring-backend/target/
spring-backend/.classpath
spring-backend/.project
spring-backend/.settings/
spring-backend/.env
spring-backend/logs/
spring-backend/*.log

# Docker
*.dockerignore
**/docker-compose.override.yml

# JetBrains / IntelliJ
.idea/
*.iml

# OS-specific
.DS_Store
Thumbs.db

# Misc
.env
.vscode/
